# ERD

![png](sakila-db-model.png)

# SQL Queries

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()

In [2]:
connection = "mysql+pymysql://root:Hannah#0103@localhost/sakila"

In [3]:
engine = create_engine(connection)

In [4]:
connection

'mysql+pymysql://root:Hannah#0103@localhost/sakila'

## All Customers inside city_id 312

In [6]:

q1 = """SELECT c.first_name, c.last_name, c.email, a.address, cit.city
        FROM customer AS c
        JOIN address AS a ON c.customer_id = a.city_id
        JOIN city AS cit ON a.city_id = cit.city_id
        WHERE cit.city_id = 312"""

pd.read_sql(q1, engine)

,first_name,last_name,email,address,city
0,MARK,RINEHART,MARK.RINEHART@sakilacustomer.org,1497 Yuzhou Drive,London
1,MARK,RINEHART,MARK.RINEHART@sakilacustomer.org,548 Uruapan Street,London

## All comdey films

In [7]:
q2 = """SELECT f.title, f.description, f.release_year, f.rating, f.special_features
        FROM film AS f
        JOIN film_category AS fc ON f.film_id = fc.category_id
        JOIN category AS c  ON fc.category_id = c.category_id
        WHERE c.name = 'Comedy'
    """

pd.read_sql(q2, engine)

,title,description,release_year,rating,special_features
0,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
1,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
2,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
3,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
4,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
6,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
7,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
8,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
9,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
10,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
11,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
12,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
13,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
14,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
15,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
16,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
17,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
18,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
19,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
20,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
21,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
22,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
23,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
24,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
25,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
26,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
27,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
28,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
29,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
30,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
31,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
32,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
33,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
34,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
35,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
36,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
37,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
38,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
39,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
40,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
41,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
42,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
43,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
44,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
45,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
46,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
47,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
48,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
49,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
50,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
51,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
52,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
53,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
54,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
55,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
56,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes
57,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,G,Deleted Scenes

## All films with Johnny Lollobrigida

In [8]:
q3 = """SELECT f.title, f.release_year, a.first_name, a.last_name
        FROM film AS f
        JOIN film_actor AS fa ON f.film_id = fa.actor_id
        JOIN actor AS a ON fa.actor_id = a.actor_id
        WHERE a.first_name = 'Johnny' AND a.last_name = 'Lollobrigida'"""

pd.read_sql(q3, engine)

          title  release_year first_name     last_name
0   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
1   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
2   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
3   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
4   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
5   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
6   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
7   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
8   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
9   AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
10  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
11  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
12  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
13  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
14  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
15  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
16  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
17  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
18  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
19  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
20  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
21  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
22  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
23  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
24  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
25  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
26  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
27  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA
28  AFRICAN EGG          2006     JOHNNY  LOLLOBRIGIDA

## Actors in movie "Bingo Talented"

In [9]:
q4 = """SELECT a.first_name, a.last_name
        FROM actor AS a
        JOIN film_actor AS fa ON a.actor_id = fa.actor_id
        WHERE fa.film_id = (SELECT film_id 
                            FROM film
                            WHERE film.title = 'Bingo Talented');"""

pd.read_sql(q4, engine)

  first_name    last_name
0     GOLDIE        BRODY
1    CAMERON         WRAY
2       CARY  MCCONAUGHEY
3        JON        CHASE
4      RENEE         BALL

## Customers with payments greater than 2 times the average payment

In [27]:
q5 = """SELECT customer_id, amount
        FROM payment
        WHERE amount >
            (SELECT 2*AVG(amount)
             FROM payment)
        ORDER BY amount ASC"""

pd.read_sql(q5, engine)

     customer_id  amount
0             75    8.97
1              3    8.99
2              3    8.99
3              3    8.99
4              4    8.99
..           ...     ...
852          237   11.99
853          305   11.99
854          362   11.99
855          591   11.99
856          592   11.99

[857 rows x 2 columns]

## First 5 customers with the highest amount of payments

In [28]:
q6 = """SELECT c.first_name, c.last_name,
            (SELECT COUNT(*)
             FROM payment
             WHERE c.customer_id = payment.customer_id) AS num_payments
        FROM customer AS c
        ORDER BY num_payments DESC
        LIMIT 5;
"""

pd.read_sql(q6, engine)

  first_name last_name  num_payments
0    ELEANOR      HUNT            46
1       KARL      SEAL            45
2     MARCIA      DEAN            42
3      CLARA      SHAW            42
4      TAMMY   SANDERS            41